.form2{
    background-color: #E8F6F3;
    border-radius: 20px;
    margin: 20px 150px;
    padding: 30px 10px;
}

.form1{
	justify-content: center;
    background-color: #E8F6F3;
    border-radius: 20px;
    margin: 20px 150px;
    padding: 30px 10px;
    padding-top: 5%;
}

.flex{
	display: flex;
	justify-content: center;
}

h1{
    background-color: green;
    border-radius: 20px;
    margin-left: 13%;
    margin-right: 13%;
}