h1{
    background-color: green;
    border-radius: 20px;
    margin-left: 13%;
    margin-right: 13%;
}

.form1{
    justify-content: center;
    background-color: #E8F6F3;
    border-radius: 20px;
    margin: 20px 150px;
    padding: 30px 10px;
    padding-top: 5%;
}

.form2{
    background-color: #E8F6F3;
    border-radius: 20px;
    margin: 20px 150px;
    padding: 30px 10px;
}

.flex{
	display: flex;
	justify-content: center;
	position: relative;
}

.radio1{
    background-color: beige;
    border-radius: 10px;
    margin: 3px 700px 3px 600px;
}
